body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(https://cdn.theatlantic.com/thumbor/vDZCdxF7pRXmZIc5vpB4pFrWHKs=/559x0:2259x1700/1080x1080/media/img/mt/2017/06/shutterstock_319985324/original.jpg);
    position: fixed;
    color: white;
    font-family: Tahoma;
    font-size: 16px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background-color: green;
}

fieldset {
    border: none;
    padding: 2rem 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input, textarea {
    background-color: #003300;
    border: 1px solid #003300;
    color: white;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {}
