body {
    display: block;
    background-color: #f0f0f5;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
}

main {
    display: block;
    background: #8585ad;
    color: white;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
}

#title {
    width: 100%;
    height: 100px;
    text-align: center;
}

#title h1 {
    font-size: 4em;
    margin-bottom: 0;
}

/* Image styling */
#img-div {
    padding: 10px;
    margin: 0;
}

figure {
    display: block;
}

img {
   max-width: 100%;
   display: block;
   height: auto;
   margin: 0 auto;
}

#img-caption {
    margin: 15px 0 5px 0;
    text-align: center;
    padding-top: 10px;
}

figcaption {
    display: block;
}

/* Timeline styling */
section {
    background-color: #d1d1e0;
}

#tribute-info {
    color: #1b1b32;
}

#tribute-header {
    margin: 50px 0;
    text-align: center;
}

#tribute-header {
    padding-top: 15px;
    margin: 50px 0;
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

h3 {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

a {
    color: #363663;
    text-decoration: none;

}

a:hover {
    color:  #7a7ab8;
}

a:visited {
    color:  #eeeef6;

}




