body {
    min-width: 290px;
    color: #62626a;
    background-color: #f0f0f5;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}
/* Navbar */
#navbar {
    background-color: #c2c2d6;
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #666699;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #141414;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    color: #14141f;
    padding: 8px 16px;
    text-decoration: none;
    padding: 10px 30px;
}

li a.active {
    background-color: #666699;
    color: white;
}

li a:hover:not(.active) {
    background-color: #8585ad;
    color: white;
}

/* Info container */
.info-container {
    margin-left: 25%;
    padding: 1px 16px;
    height: auto;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
#main-section header{
    text-align: left;
}